<div class="jumbotron">
    <h1>Accessible Dialog Scroll Area</h1>
    <p class="lead">
        Angular directive to effect the scrolling using up / down arrow and pg up / pg down keys in dialog without focusing to the Div tag.
    </p>
</div>

<div class="row marketing">
    <h4>HTML</h4>
<pre>
&lt;div a11y-scroll="id"&gt;&lt;/div&gt;
</pre>
</div>
<div style="height:2000px">
    <form autocomplete="off">
        <input type="button" value="Show Dialog" ng-click="showDialog()" />
    </form>
</div>
