<div class="jumbotron">
    <h1>Accessible Type Ahead</h1>
    <p class="lead">
        Angular Type Ahead directive with Accessibility.
    </p>
</div>

<div class="row marketing">
    <h4>HTML</h4>
<pre>
&lt;a11y-type-ahead selected-text="name" config="aclConfig"&gt;&lt;/a11y-type-ahead&gt;
</pre>
</div>

<form autocomplete="off">
    <a11y-type-ahead selected-text="name"
                     config="aclConfig"></a11y-type-ahead>

    <a11y-type-ahead selected-text="name"
                     config="ussConfig"></a11y-type-ahead>

    <a11y-type-ahead config="uscConfig"></a11y-type-ahead>
</form>
