<div class="jumbotron hidden">
    <h1>Accessible Type Ahead</h1>
    <p class="lead">
        Angular Type Ahead directive with Accessibility.
    </p>
</div>

<div class="row marketing">
    <pre>GITHUB: <a href="https://github.com/senthilshanmugam/a11yTypeAhead">https://github.com/senthilshanmugam/a11yTypeAhead</a></pre>
    <h4>Components</h4>
    <ul>
        <li>Type Ahead</li>
        <li>Scroll</li>
        <li>Slick Grid</li>
    </ul>
    <h4>Angular</h4>
    <p>
        AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
</div>

